demo_nodered_clipboard.json
[{"id":"a12bc71d.850028","type":"inject","z":"e0d75d97.dbe0a","name":"前進","topic":"","payload":"{\"x\":\"1.0\"}","payloadType":"json","repeat":"","crontab":"","once":false,"x":263,"y":137,"wires":[["e81e144f.206a28"]]},{"id":"e81e144f.206a28","type":"sense command","z":"e0d75d97.dbe0a","name":"ROS","senseid":"R1","commandtype":"humix-ros-module","commandname":"robot_cmd","x":478,"y":157,"wires":[]},{"id":"68cb3253.fd012c","type":"inject","z":"e0d75d97.dbe0a","name":"轉彎","topic":"","payload":"{\"yaw\":\"1.57\"}","payloadType":"json","repeat":"","crontab":"","once":false,"x":264,"y":198,"wires":[["e81e144f.206a28"]]}]